@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
   margin: 0; 
   padding: 0;
}

.container{
    background:url("prjfot.jpg");
    height:100vh;
    background-size: cover;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background-color:rgba(35, 58, 86, 0.4)
}

.navbar .minisoo{
    display: inline-block;
    margin-left:50px;
    margin-top:20px;
}
.navbar .minisoo a{
    text-decoration: none;
    font-size:30px;
    font-family:sans-serif;
    color:rgb(66, 4, 73)

}
.navbar ul{
    float:right;
    margin-right: 20px;;
}
.navbar ul li{
  list-style:none;
  display:inline-block;
  margin:0 8px ;
  line-height: 80px;
}
.navbar ul li a{
    color:aliceblue;
    text-decoration: none;
    font-size:20px;
    padding: 6px 13px;;
    font-family:Roboto;
    transition: .5s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: #f0be98;
    border-radius:2px;
}
.container .center{
    position:absolute ;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color: rgb(211, 47, 47);
    font-size: 75px;
    font-weight: bold;
    width: 1000px;
    text-align: center;
}
.center h2{
    color:rgb(94, 68, 110);
    font-size: 40px;
    font-weight:bold;
    width: 1000px;
    margin-top: 10px;
    text-align: center;
}
.center .buttons{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.buttons button{
    height: 60px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    color:#5f345e ;
    background: rgba(237, 78, 142, 0.4);
    border: solid 1px #981e1e;
    cursor:pointer;
    outline: none;
    border-radius: 25px;
}
.buttons button:hover{
    background:#fff;
    transition: .5s;
}
.about{
    max-width: 800px;
    margin: 120px auto;
    background: rgba(212, 202, 209, 0.85);
    padding: 40px;
    border-radius: 15px;
    font-family: Roboto, sans-serif;
}

.about h1{
    text-align: center;
    font-size: 35px;
    color: rgb(87, 47, 77);
    margin-bottom: 20px;
}

.about p{
    font-size: 18px;
    line-height: 1.7;
    color: #320202;
    margin-bottom: 15px;
}
.categories{
    margin: 140px auto;
    max-width: 1000px;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.categories h1{
    font-size: 50px;
    color: rgb(94, 68, 110);
    margin-bottom: 40px;
}

.category-box{
    background: rgba(255,255,255,0.85);
    padding: 30px;
    margin: 20px 0;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;
}

.category-box h2{
    font-size: 28px;
    color: #5f345e;
}

.category-box p{
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

.category-box:hover{
    transform: scale(1.05);
    background: #fff;
}
.cards-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.card{
    background: #ad8b8b;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    color: #120a45;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: transform .3s, box-shadow .3s;
}


.card img{
    width: 100%;
    height: 220px;          
    object-fit: cover;     
    display: block;
}


.card-title{
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(239, 8, 8, 0.25);
}
.blog img{
    width: 70%;          
    max-width: 500px;   
    display: block;
    margin: 0 auto 30px; 
    border-radius: 15px;
}
.kalimero-img{
    width: 50%;       
    max-width: 200px;  
    display: block;
    margin: 30px auto; 
    border-radius: 15px;
}



