@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{

   margin: 0;

   padding: 0;

}



.container{

    background:url("prjfot.jpg");
    background-attachment: fixed;
    min-height:100vh;
    width: 100%;
    background-size: cover;

}

.container .navbar{

    width: 100%;

    height: 80px;

    background-color:rgba(35, 58, 86, 0.4)

}

.navbar{

    width: 100%;
    height: 80px;
    background-color: rgba(35, 58, 86, 0.4);
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 0 40px;   
    box-sizing: border-box;
    white-space: nowrap; 
}



.navbar .minisoo{

    display: inline-block;

    flex-shrink: 0;

    margin-left:50px;

    margin-top:20px;

}

.navbar .minisoo a{

    text-decoration: none;

    font-size:30px;

    font-family:sans-serif;

    color:rgb(66, 4, 73)



}

.navbar ul{

    float:right;

    margin-right: 20px;;

}

.navbar ul li{

  list-style:none;

  display:inline-block;

  margin:0 8px ;

  line-height: 80px;
  flex-shrink: 0;

}

.navbar ul li a{

    color:aliceblue;

    text-decoration: none;

    font-size:20px;

    padding: 6px 13px;;

    font-family:Roboto;

    transition: .5s;

}

.navbar ul li a.active,

.navbar ul li a:hover{

    background: #f0be98;

    border-radius:2px;

}

.container .center{

    position:absolute ;

    top:50%;

    left:50%;

    transform: translate(-50%,-50%);

    font-family: sans-serif;

    user-select: none;

}

.center h1{

    color: rgb(145, 36, 36);

    font-size: 75px;

    font-weight: bold;

    width: 1000px;

    text-align: center;

}

.center h2{

    color:rgb(94, 68, 110);

    font-size: 40px;

    font-weight:bold;

    width: 1000px;

    margin-top: 10px;

    text-align: center;

}

.center .buttons{

    margin-top: 35px;

    display: flex;

    justify-content: center;

}



.buttons button{

    height: 60px;

    width: 200px;

    font-size: 20px;

    font-weight: bold;

    color:#5f345e ;

    background: rgba(218, 194, 149, 0.4);

    border: solid 1px #2f0f4a;

    cursor:pointer;

    outline: none;

    border-radius: 25px;

}

.buttons button:hover{

    background:#fff;

    transition: .5s;

}

.about{

    max-width: 800px;

    margin: 120px auto;

    background: rgba(212, 202, 209, 0.85);

    padding: 40px;

    border-radius: 15px;

    font-family: Roboto, sans-serif;

}

.about h1{

    text-align: center;

    font-size: 35px;

    color: rgb(59, 5, 45);

    margin-bottom: 20px;

}



.about p{

    font-size: 18px;

    line-height: 1.7;

    color: #050101;

    margin-bottom: 15px;

}

.categories{

    margin: 140px auto;

    max-width: 1000px;

    text-align: center;

    font-family: Roboto, sans-serif;

}



.categories h1{

    font-size: 50px;

    color: rgb(94, 68, 110);

    margin-bottom: 40px;

}



.category-box{

    background: rgba(255,255,255,0.85);

    padding: 30px;

    margin: 20px 0;

    border-radius: 15px;

    cursor: pointer;

    transition: .3s;

}



.category-box h2{

    font-size: 28px;

    color: #1c011b;

}



.category-box p{

    font-size: 18px;

    margin-top: 10px;

    color: #0f0b0b;

}



.category-box:hover{

    transform: scale(1.05);

    background: #cdbdbd;

}

.cards-grid{

    display: grid;
    color: #4f3d7c ;
    grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
    gap: 30px;
    margin-top: 50px;

}



.card{

    background: #e6a5e6;

    border-radius: 25px;

    overflow: hidden;

    text-decoration: none;

    color: #09032f;

    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    transition: transform .3s, box-shadow .3s;

}





.card img{

    width: 100%;

    height: 220px;          

    object-fit: cover;    

    display: block;

}





.card-title{

    padding: 15px;

    font-size: 30px;

    font-weight: bold;

    text-align: center;

    color: #2b2c59;

}





.card:hover{

    transform: translateY(-8px);

    box-shadow: 0 20px 40px rgba(174, 10, 64, 0.25);

}

.blog img{

    width: 70%;          

    max-width: 500px;  

    display: block;

    margin: 0 auto 30px;

    border-radius: 15px;

}

.kalimero-img{

    width: 50%;      

    max-width: 200px;  

    display: block;

    margin: 30px auto;

    border-radius: 15px;

}

.page-title{

    text-align: center;

    font-size: 48px;

    margin: 130px 0 40px;

    color: rgb(57, 1, 81);

}



.grid-28 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 90%;
    margin: 0 auto;
}



.card {

    background: rgb(197, 181, 181);

    border-radius: 15px;

    overflow: hidden;

    text-align: center;

    display: flex;

    flex-direction: column;

    box-shadow: 0 4px 12px rgba(1, 1, 23, 0.1);

    transition: .3s;

    text-decoration: none;

    height: 100%;

}

.card:hover{

    transform: scale(1.05);

    z-index: 10;

    box-shadow: 0 10px 20px rgba(13, 12, 12, 0.2);

}



.card img{

    width: 100%;

    height: 70%;

    object-fit: cover;

    display: block;

}



.card span{

    font-size: 14px;

    font-weight: bold;

    padding: 10px 5px;

    color: #333;

    display: block;

}

.card{

    text-decoration: none;

    color: inherit;

}

.page-title {

    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);

}

.blog-content-box{
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    background: rgba(241, 209, 209, 0.7);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.20);
    font-size: 18px;
    line-height: 1.6;
    color: #140101;
}
.blog img{
    display: block;
    margin: 30px auto;
    border-radius: 20px;
    max-width: 600px;
}
.blog-header{
    text-align: center;
    margin-top: 50px;
}

.blog-header h1{
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #323371;
}

.blog-header img{
    width: 50%;       
    max-width: 450px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;     
}
.navbar .minisoo {

    padding: 12px 35px;
    border-radius: 25px;
    border: 3px double rgba(194, 165, 184, 0.9); 
    background: linear-gradient(145deg, rgba(255,238,250,0.55), rgba(255,210,230,0.35)),
    url('minisoo.png'); 
    background-size: cover;
    box-shadow: 0 0 12px rgba(203, 192, 199, 0.9), 
    inset 0 0 18px rgba(234, 245, 246, 0.6);
    backdrop-filter: blur(6px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;         
    transition: .3s ease;
    margin-left: 20px;
}

.navbar .minisoo:hover {
    transform: scale(1.08);
    box-shadow: 0 0 18px rgba(255, 230, 245, 1), 
                0 0 35px rgba(255, 220, 240, 0.8);
}

.navbar .minisoo a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    color: #6b035a; 
    letter-spacing: 1px;

}
.minisoo img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin: 0 8px;
}

.icon-left {
    margin-right: 4px;
}
.icon-right {
    margin-left: 4px;
}
